body{
    font-style: Poppins;
}
.navigate{
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 96%;
    height: 60px;
    padding: 25px;
    justify-items: center;
}
.navi-in{
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 19;
}
#posit{
    color: white;
    padding-bottom: 10px;
    margin-right: 150px;
    
    
}
.search{
    display: flex;
    justify-content: center;
    width: 250px;
    text-align: center;
    margin: 0 -50px;
    text-decoration-line: none;
    color: white;
    
}
    
a:hover{
text-decoration: underline;
color: #ED661F;
text-emphasis-color: white;
}
.sect{
    display: flex;
    flex-direction: row;
    width: 250;
    margin-right: 12;
    position: absolute;
    right: 0px;
    
}
.search1{
width: 80px;
text-decoration: none;
color: white;

}
.search2{
    width: 80px;
    align-items: flex-start;
   
}
#backg{
background-color: #ED661F;
height: 28px;
padding-top: 12px;
margin-top: -10px;
}
img#grass{
    height: 85%;
    width: 1270px;
    margin: 0 0 0 0;
    box-sizing: border-box;
    
    
}
.bgtext{
position: relative;
text-align: start;
color: black;
float: left;
}
.text1{
  position: absolute;
  top: 110px;
  left: 12px;
  width: 400px;
}

img#tomato{
  position: absolute;
  top: -3px;
  left: 830px;
  width: 420px;
}
a#backg1{
    color: white;
    padding: 12px; 
    position: absolute;
    top: 230px;
    background-color: #ED661F;
    height: 28px;
    text-decoration: none;
}
a:hover#backg1{
    text-decoration: underline;
    color: #ED661F;
    text-emphasis-color: white;
    }
.stats{
    display: flex;
    flex-direction: row; 
    align-items; center:
    width:80px;
    height:70px;
    position: absolute;
    top: 610px;
    right: 114px;
}
#stat{
    
    width: 150px;
    height: 75px;
    margin: 1px solid white;
    justify-content: space-around;
    align-items: center;
    background-color:white;
    box-shadow: 5px 5px grey; 
    padding-left: 12px;
    font-weight:700;
}

  div.range{
    display: inline-flexbox;
    position: absolute;
    top:750px;
    margin-left: 60px;
  }
  /*Creating short-text underline*/
  .exist{
    display: inline-block;
    position: relative;
}
  .exist:before{
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0px;
    left: 3%;
    border-bottom: 2px solid #ED661F;
    
  }
  img.call{
    height: 300px;
    position: absolute;
    top: 700px;
    right: 12px
  }
  div.category{
    display: inline-flexbox;
    position: absolute;
    top:1000px;
    right: 300px;
    text-align: center;
    
  }
  .product{
    display: inline-block;
    position: relative;
}
.product:before{
    content: '';
    position: absolute;
    width: 23%;
    height: 1px;
    bottom: 0px;
    left: 32%;
    border-bottom: 2px solid #ED661F;
}
div.popular{
    display: inline-flexbox;
    position: absolute;
    top:1290px;
    margin-left: 60px;
    text-align: center;
  }
  div#most-pop{
    display: inline-block;
    position: relative;
    /*background-color: aqua;*/
    width: 290px; 
  }
  .exist1{
    display: inline-block;
    position: relative;
}
  div.range1{
    display: inline-flexbox;
    position: absolute;
    top:1100px;
    margin-left: 60px;
  }
  #under:before{
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 14px;
    left: 0%;
    border-bottom: 2px solid #ED661F;
  }
img.carrot{
    position: absolute;
    top: 1160px;
    left: 130px;
    height: 140px;
}
img.cereal{
    position: absolute;
    top: 1160px;
    left: 430px;
    height: 140px;
}
img.fish{
    position: absolute;
    top: 1160px;
    left: 720px;
    height: 140px;
}
img.sukuma{
    position: absolute;
    top: 1160px;
    left: 1020px;
    height: 140px;
}
.bold{
    font-weight: 700;
}
.exist2{
    display: inline-block;
    position: relative;
}
  div.range2{
    display: inline-flexbox;
    position: absolute;
    top:1390px;
    margin-left: 60px;
  }
  #under1:before{
    content: '';
    position: absolute;
    width: 35%;
    height: 1px;
    bottom: 14px;
    left: 0%;
    border-bottom: 2px solid #ED661F;
  }
  div.popular1{
    display: inline-flexbox;
    position: absolute;
    top:1600px;
    margin-left: 60px;
    text-align: center;
  }
  div#most-pop1{
    display: inline-block;
    position: relative;
    /*background-color: aqua;*/
    width: 290px; 
  }
  img.chic{
    position: absolute;
    top: 1450px;
    left: 130px;
    height: 140px;
}
img.rice{
    position: absolute;
    top: 1450px;
    left: 430px;
    height: 140px;
}
img.mursik{
    position: absolute;
    top: 1450px;
    left: 720px;
    height: 140px;
}
img.tomats{
    position: absolute;
    top: 1450px;
    left: 1020px;
    height: 140px;
}
    
    
    
    
      

