body{
    font-style: Poppins;
}
.navigate{
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 96%;
    height: 60px;
    padding: 25px;
    justify-items: center;
}
.navi-in{
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 19;
}
#posit{
    color: white;
    padding-bottom: 10px;
    margin-right: 150px;
    
    
}
.search{
    display: flex;
    justify-content: center;
    width: 250px;
    text-align: center;
    margin: 0 -50px;
    text-decoration-line: none;
    color: white;
    /*color: rgb(230, 98, 10);*/
}
    
a:hover{
text-decoration: underline;
color: #ED661F;
text-emphasis-color: white;
}
.sect{
    display: flex;
    flex-direction: row;
    width: 250;
    margin-right: 12;
    position: absolute;
    right: 0px;
    
}
.search1{
width: 80px;
text-decoration: none;
color: white;

}
.search2{
    width: 80px;
    align-items: flex-start;
    /*display: inline-block;*/
}
#backg{
background-color: #ED661F;
height: 28px;
padding-top: 12px;
margin-top: -10px;
}
img#grass{
    height: 85%;
    width: 1270px;
    margin: 0 0 0 0;
    box-sizing: border-box;
    
    
}
.bgtext{
position: relative;
text-align: start;
color: black;
float: left;
}
.text1{
  position: absolute;
  top: 110px;
  left: 12px;
  width: 400px;
}
/*.text2{
    position: absolute;
    top: 120px;
    left: 12px;
    width: 250px;*/  
img#tomato{
  position: absolute;
  top: -3px;
  left: 830px;
  width: 420px;
}
a#backg1{
    color: white;
    padding: 12px; 
    position: absolute;
    top: 230px;
    background-color: #ED661F;
    height: 28px;
    text-decoration: none;
}
a:hover#backg1{
    text-decoration: underline;
    color: #ED661F;
    text-emphasis-color: white;
    }
.stats{
    display: flex;
    flex-direction: row; 
    align-items; center:
    width:80px;
    height:70px;
    position: absolute;
    top: 610px;
    right: 114px;
}
#stat{
    
    /*display: inline-flex;*/
    /*flex-direction: row;*/
    width: 150px;
    height: 75px;
    margin: 1px solid white;
    justify-content: space-around;
    align-items: center;
    background-color:white;
    /*float:right;*/
    box-shadow: 5px 5px grey; 
    padding-left: 12px;
    font-weight:700;
}
.exist{
    display: inline-block;
    position: relative;
}
.exist:before{
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0px;
    left: 3%;
    border-bottom: 1px solid #ED661F;
    
  }
    /*#stat{
    
        display: inline-flex;
        flex-direction: row;
        width: 150px;
        height: 75px;
        margin: 1px solid white;
        justify-content: space-around:
        align-items: center;
        background-color:yellow;
    }
    
}
    
      

