body{
    font-style: Poppins;
}
.navigate{
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 96%;
    height: 60px;
    padding: 25px;
    justify-items: center;
}
.navi-in{
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 19;
}
#posit{
    color: white;
    padding-bottom: 10px;
    margin-right: 150px;
    
    
}
.search{
    display: flex;
    justify-content: center;
    width: 250px;
    text-align: center;
    margin: 0 -50px;
    text-decoration-line: none;
    color: white;
    
}
    
a:hover{
text-decoration: underline;
color: #ED661F;
text-emphasis-color: white;
}
.sect{
    display: flex;
    flex-direction: row;
    width: 250;
    margin-right: 12;
    position: absolute;
    right: 0px;
    
}
.search1{
width: 80px;
text-decoration: none;
color: white;

}
.search2{
    width: 80px;
    align-items: flex-start;
   
}
#backg{
background-color: #ED661F;
height: 28px;
padding-top: 12px;
margin-top: -10px;
}
img#grass{
    height: 85%;
    width: 1255px;
   
    box-sizing: border-box; 
}
.bgtext{
position: relative;
text-align: start;
color: black;
float: left;
}
.text1{
  position: absolute;
  top: 110px;
  left: 12px;
  width: 400px;
}

img#tomato{
  position: absolute;
  top: -3px;
  left: 830px;
  width: 420px;
}
a#backg1{
    color: white;
    padding: 12px; 
    position: absolute;
    top: 230px;
    background-color: #ED661F;
    height: 28px;
    text-decoration: none;
}
a:hover#backg1{
    text-decoration: underline;
    color: #ED661F;
    text-emphasis-color: white;
    }
.stats{
    display: flex;
    flex-direction: row; 
    justify-items: 50px;
    height:70px;
    position: absolute;
    top: 610px;
    right: 150px;
}
#stat{
    
    width: 150px;
    height: 75px;
    margin: 1px solid white;
    justify-content: space-around;
    align-items: center;
    background-color:white;
    box-shadow: 5px 5px grey; 
    padding-left: 12px;
    font-weight:700;
}

  div.range{
    display: inline-flexbox;
    position: absolute;
    top:750px;
    margin-left: 60px;
  }
  /*Creating short-text underline*/
  .exist{
    display: inline-block;
    position: relative;
}
  .exist:before{
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0px;
    left: 3%;
    border-bottom: 2px solid #ED661F;
    
  }
  img.call{
    height: 300px;
    position: absolute;
    top: 700px;
    right: 12px
  }
  div.category{
    display: inline-flexbox;
    position: absolute;
    top:1000px;
    right: 300px;
    text-align: center;
    
  }
  .product{
    display: inline-block;
    position: relative;
}
.product:before{
    content: '';
    position: absolute;
    width: 23%;
    height: 1px;
    bottom: 0px;
    left: 32%;
    border-bottom: 2px solid #ED661F;
}
div.popular{
    display: inline-flexbox;
    position: absolute;
    top:1290px;
    margin-left: 60px;
    text-align: center;
  }
  div#most-pop{
    display: inline-block;
    position: relative;
    /*background-color: aqua;*/
    width: 290px; 
  }
  .exist1{
    display: inline-block;
    position: relative;
}
  div.range1{
    display: inline-flexbox;
    position: absolute;
    top:1100px;
    margin-left: 60px;
  }
  #under:before{
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 14px;
    left: 0%;
    border-bottom: 2px solid #ED661F;
  }
img.carrot{
    position: absolute;
    top: 1160px;
    left: 130px;
    height: 140px;
}
img.cereal{
    position: absolute;
    top: 1160px;
    left: 430px;
    height: 140px;
}
img.fish{
    position: absolute;
    top: 1160px;
    left: 720px;
    height: 140px;
}
img.sukuma{
    position: absolute;
    top: 1160px;
    left: 1020px;
    height: 140px;
}
.bold{
    font-weight: 700;
}
.exist2{
    display: inline-block;
    position: relative;
}
  div.range2{
    display: inline-flexbox;
    position: absolute;
    top:1390px;
    margin-left: 60px;
  }
  #under1:before{
    content: '';
    position: absolute;
    width: 35%;
    height: 1px;
    bottom: 14px;
    left: 0%;
    border-bottom: 2px solid #ED661F;
  }
  div.popular1{
    display: inline-flexbox;
    position: absolute;
    top:1600px;
    margin-left: 60px;
    text-align: center;
  }
  div#most-pop1{
    display: inline-block;
    position: relative;
    /*background-color: aqua;*/
    width: 290px; 
  }
  img.chic{
    position: absolute;
    top: 1450px;
    left: 130px;
    height: 140px;
}
img.rice{
    position: absolute;
    top: 1450px;
    left: 430px;
    height: 140px;
}
img.mursik{
    position: absolute;
    top: 1450px;
    left: 720px;
    height: 140px;
}
img.tomats{
    position: absolute;
    top: 1450px;
    left: 1020px;
    height: 140px;
}

.seek{
    display: inline-block;
    position: relative;
}
  div.seek{
    display: inline-flexbox;
    position: absolute;
    top:1700px;
    right: 150px;
  }
  .seek:before{
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 14px;
    border-bottom: 2px solid #ED661F;
  }
  /*.arrow{
    background-color: #ED661F;;
    height: 1px;
    border-radius: 10px;
    position: relative;
    width: 22px;
    top: 1590px;
  }
  .arrow::after{
    content: '';
    display: inline-block;
    width: 12;
    height: 2px;
    background-color: #ED661F;
    transform: rotate(45deg);
    position:absolute;
    border-radius: 18px;
    right: -8px;
    bottom: 0px;
  }
  .arrow::before{
    content: '';
    display: inline-block;
    width: 12;
    height: 2px;
    background-color: #ED661F;
    transform: rotate(-45deg);
    position:absolute;
    border-radius: 18px;
    right: -8px; 
    bottom: 0px;
  }*/
  div.pointer{
    display: inline-flexbox;
    position: relative;
  }
div.line{
    width: 1100px;
    height: 30px;
    border-bottom: 12px solid grey;
    position: absolute;
    top: 1650px;
    box-shadow: 4px 4px solid rgb(228, 221, 221);
    margin-left: 60px;
    margin-right: 35px;

    }
  div.state{
    display: inline-flexbox;
    position: relative;
  }  
  div.statement{
    position: relative;
    text-align: left;
    top: 1200px;
    margin-left: 50px;
  }

  div.customer{
    display: inline-flexbox;
    position: absolute;
    top:1950px;
    margin-left: 60px;
    text-align: center;
    box-shadow: 4px 4px 3px solid rgb(151, 146, 146);
  
  }
  div #feedback{
    display: inline-block;
    position: relative;
    background-color: white;
    width: 340px;
    box-shadow: 4px 4px solid rgb(151, 146, 146);
    border: 1px solid whitesmoke;
    padding-top: 40px;
    height: 150px;
  }
  img.reb{
    height: 50px;
    position: absolute;
    top: 2070px;
    border-radius: 50%;
    left: 135px;
  }
  img.joe{
    height: 50px;
    position: absolute;
    top: 2070px;
    border-radius: 50%;
    left: 505px;
  }
  img.dwel{
    height: 50px;
    position: absolute;
    top: 2070px;
    border-radius: 50%;
    left: 823px;
  }
  
  div.star {
    position: relative;
    background:  #ED661F;;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 40px;
    width: 40px;
    top: 1230px;
    left: 450px;
    
  }
  div.star1 {
    position: relative;
    background:  #ED661F;
    display: inline-block;
    height: 60px;
   
  }
  /*div#cliper{
    position: absolute;
    width: 40px;
    top: 1977px;
    left: 870px;
    display: flex;
    flex-direction: row;
    background:  #ED661F;
    
  }
  .ratn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    height: 120px;
    width: 120px;
  }
  .ratn div{
    color: #ED661F;
  }
  .ratn input{
    display: none;
  }
  .ratn input + label{
    font-size: 30px;
   text-shadow: 1px 1px 0 #ED661F;
   cursor: pointer;
  }
  .ratn input:checked + label~label{
    color: #838383
  }
  .ratn label: active{
    transform: scale(0.8);
    transform: 0.3s ease;
  }
.ratn label{
display: block;
cursor: pointer;
width: 50%;
background: #ccc
  }
.ratn label:before{
  content: '\f005';
  font-family: fontAwsome;
  position: relative;
  display: block;
  font-size: 50px;
  color: #ED661F;
}
.ratn label:after{
  content: '\f005';
  font-family: fontAwsome;
  position: absolute;
  display: block;
  font-size: 50px;
  color: #ED661F;
  
  opacity: 1;
  transition: .5s;
}
.ratn label:hover:after,
.ratn label:hover ~ label:after,
.ratn input:checked ~ label:after{
  opacity: 1;
}
input#str1{
  display: inline-flexbox;
  position: relative;
  top: 1200px;
    left: 870px;
}*/
div.lastbar{
  display: inline-flexbox;
  flex-direction: column;
  background-color: black;
  width: 98%;
  height: 150px;
  padding-top: 25px;
  align-content: center;
  justify-items: center; 
  margin-left: 20px;
  position: relative;
  top: 1400px;
}
div.touch{
  color: white;
  display: inline-flexbox;
  flex-direction: row;
  margin-top: 19;
  height: 25px;
  align-items: center;
  text-align: center;
  
}
div.subs{
  color: white;
  display: inline-flexbox;
  flex-direction: row;
  margin-top: 19px;
  height: 25px;
  align-items: center;
  text-align: center;
}
div.email{
  color: white;
  display: inline-flexbox;
  flex-direction: row;
  margin-top: 19;
  height: 25px;
  align-items: center;
  text-align: center;
}
div#data{
display: inline-flexbox;
height: 35px;
width: 180px;
align-items: center;
  text-align: center;
  position: relative;
  left: 43%;
}
#linky{
  background-color: #ED661F;
  height: 24px;
  padding-top: 10px;
  margin-top: 7px;
  /*width: 100px;*/
  color: white;
  text-decoration: none;
  padding-top: 8px;
  
  
  }
  div.enter{
    position: relative;
    top: 1368px;
    left: 737;
    width: 100px;
  }
  div#ft{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    position: relative;
    width: 94%;
    height: 180px;
    padding: 25px;
    justify-items: center;
    margin-left: 20px;
    top: 1400px;
  }
  div.plus{
    display: inline-block;
    flex-direction: row;
    width: 500px;
    color: white;
    
  }
  div.comp{
    display: inline-block;
    flex-direction: row;
    width: 200px;
    color: white;
  }
  
  div.rgt{
    display: inline-flexbox;
    flex-direction: row;
    width: 400px;
    position: relative;
    top: 1380px;
    left: 400px;
    color: white;
  }
    
      

